body {
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  gap:10px
}
nav {
  max-width: max-content;
  max-height: 100dvh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  
  flex-direction: column;
  gap:10px;
}
.head{
  text-align: center;
  font-size: 18px;
  width: max-content;
  height: max-content;
  
  padding: 0px;
  position: fixed;
  left:50%;
  top:0;
  transform: translateX(-50%);
  
}

.main-container{
  justify-content: flex-start;
  align-items: flex-start;
  justify-items: f;
}

.main-fields{
  flex-direction: column;
}